@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Shellsoft MS-BU</h1>
    <p>Learn about <a href="https://youjizz.com">building Web apps with ASP.NET Core</a>.</p>
</div>
